doctype html

html
    head
        title Cam and Jojo's Wedding
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', type='text/css', href='#{path.toStylesheet()}')
        script(src='#{path.toJavascript()}', async)

    body
        
        #menu
            .menu-toggle
                i.icon.bars
                | Menu
            
            .slideout-menu

                ul.slideout-menu-items
                    li(data-menuanchor="welcome-section")
                        a(href="#welcome-section")
                            i.icon.star
                            | Welcome
                    li(data-menuanchor="cant-come-section")
                        a(href="#cant-come-section")
                            i.icon.envelope
                            | Can't come?
                    li(data-menuanchor="agenda-section")
                        a(href="#agenda-section")
                            i.icon.calendar
                            | Agenda
                    li(data-menuanchor="kids-section")
                        a(href="#kids-section")
                            i.icon.child
                            | Kids
                    li(data-menuanchor="gifts-section")
                        a(href="#gifts-section")
                            i.icon.gift
                            | Gifts
                    li(data-menuanchor="accommodation-section")
                        a(href="#accommodation-section")
                            i.icon.home
                            | Accommodation
                    li(data-menuanchor="aboutus-section")
                        a(href="#aboutus-section")
                            i.icon.heart
                            | About us
        
        #header

        #footer
    
        #fullpage
            .section#section-welcome
                h1 Résserve cette date
                .card
                    .top-left-heart
                        i.icon.heart
                    .top-right-heart
                        i.icon.heart    
                    .bottom-left-heart
                        i.icon.heart
                    .bottom-right-heart
                        i.icon.heart
                    .supporting-text
                        | Le mariage de Cam et Jojo
                    .supporting-text Chateau de Cazenac, Dordogne France
                    .wedding-date 28th May 2016

            .section#section-cant-come
                .cant-come.dynamic-module(data-name="submit-cant-come", data-base-url="#{config.url()}")
                    h1
                        i.icon.envelope
                        | Can't come?

                    .ui.info.icon.message.not-coming-message
                        i.frown.icon
                        .content
                            .header Thank you
                            p We're sorry you can't come! Thanks for letting us know.
    
                    form.ui.form.cant-come-form
                        .required.field
                            label Name
                            .ui.icon.input
                                input(name="who", type="text")
                                i.user.icon
                        .field
                            label Message
                            textarea(name="message")
                        
                        .ui.error.message.error-messages
    
                        .ui.submit.primary.button.submit-cant-come Submit
    
            .section#section-agenda
                h1
                    i.icon.calendar
                    | Agenda
                .agenda
                    
                    .day
                        .day-name Thu 26th
                        .day-activity hen / stag
                    .day
                        .day-name Fri 27th
                        .day-activity relaxing
                    .day
                        .day-name Sat 28th
                        .day-activity wedding
                    .day
                        .day-name Sun 29th
                        .day-activity bbq
                            
            .section#section-kids
                .kids
                    h2
                        i.icon.child
                        | Kids
                    .kids-content
                        p Many of our friends have beautiful children, whom we would love to share our day with. Please feel free to bring the little ones along to the ceremony / drinks & canapés reception. We hope to hold it outside (weather permitting) so there should be plenty of space for them to move and play throughout the day.
                        p For the evening dinner celebrations we plan to hold an adult-only event. This is mostly due to limited space, but also allows all guests an evening of relaxation, without having to worry about little eyes and ears. We hope that this advance notice means that you are still able to share our big day with us and that you can enjoy the evening off parental duties.
                        p Our wedding planner has organised many childfree weddings, working with a properly vetted and tested nanny agency called SillyBillies. They are an English speaking agency who have been police checked and ID verified. We understand that some guests may feel uncomfortable about leaving their little one, so we totally understand that this may not work for you.
                        p We will be providing a baby sitting agency in the lounge room of the chateau, so please let us know if you wish to utilize this service (as the ratio of sitters to kids will be affected and we need to organize enough sitters ahead of time.)
                        p If you want to organize the sitter to come to your accommodation, you can also do that privately at a cost of 25euros booking fee per sitter, then 15euro per hour, per sitter. Min of 4 hours.  (ALL TBC)
                        p 
                            |You can visit the agency’s website 
                            a(href="http://www.sillybillyschildcare.com/", target="_new") here 
                            |, or you can get in touch with the owner of the agency directly to discuss your requirements. Her name is Nicci Brown and her email address is 
                            a(href="mailto:sillybillynicci@aol.com") sillybillynicci@aol.com
                            |.
                        
            .section#section-gifts
                h1
                    i.icon.gift
                    | Gifts
                .gifts
                    .gifts-content
                        p We know that flights and accommodation can become very expensive and we are so grateful that you are willing to travel to be with us on our special day. We truly believe that your presence at our celebration is a beautiful gift for us to treasure and so, no others are needed, Thank You.
                        p For those who insist on giving something- Please send or email us a photograph, once you get home, of yourselves enjoying France in all it’s beautiful cheese and wine glory, so that we have a beautiful memento of our special tribe. :)

            .section#section-accommodation
                .accommodation
                    h2
                        i.icon.home
                        | Accommodation
                    .accommodation-content
                        p accommodation

            .section#section-aboutus
                .aboutus
                    h2
                        i.icon.heart
                        | About us
                    .aboutus-content
                        p Cam and JoJo met in Bangalore, India in 2006. They had been sent as part of the graduate program for ThoughtWorks; Cam from the Sydney Office, JoJo from London.
                        p After finding each other and enjoying two months exploring India and getting to know one another, they decided (after Cam consulting his mum) to give long distance a go. The next six months were a blur of early morning skyping sessions, texting, emailing and surprise snail mail. JoJo will always treasure the kangaroo balls bottle opener that Cam so romantically sent her!
                        p They had no idea when they would next be able to see each other, and eventually JoJo decided to take matters into her own hands and booked a holiday to Sydney. Shortly after booking, TW had an influx of work in the Sydney Office and gave JoJo the option to go over on assignment for three months. This was met with a resounding yes from JoJo, who still headed over for a holiday with Cam.
                        p Luckily he was still just as handsome as she had thought, but WAAAAY taller than she remembered. They had a great trip and JoJo headed home to pack up her life to head over to Aus for a while. Three and a half years later, they both returned to London, where they met some great friends and made some fabulous memories in Europe.
                        p All too soon it was time to return to Sydney, and it was here, in a tiny pre-decorated photobooth in Broadway Shopping Centre that Cam decided to propose to JoJo in April of 2013.
                        br
                        br
                        p (PIX?)
                          

