doctype html

html
    head
        title Cam and Jojo's Wedding
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', type='text/css', href='#{path.toStylesheet()}')
        script(src='#{path.toJavascript()}', async)

    body

        ul#menu
            li(data-menuanchor="welcome-section")
                a(href="#welcome-section") Welcome
            li(data-menuanchor="rsvp-section")
                a(href="#rsvp-section") Rsvp
        
        #fullpage
            .section
                img.save-the-date(src="http://res.cloudinary.com/df4mulofv/image/upload/w_1000/c_crop,x_0,y_416,w_1000,h_1100/cam-n-jojo-save-the-date_cft5ct.jpg")
            .section
                .rsvp.dynamic-module(data-name="submit-rsvp", data-base-url="#{config.url()}")
                    h1 Rsvp
                    .coming-message
                        | Hurruh! We're so glad you can be with us on the day. Thanks for letting us know.
                    .not-coming-message
                        | We're sorry you can't come! Thanks for letting us know.
                    form.rsvp-form
                        .form-section
                            .error-message.who-errors &nbsp;
                            label(for='who') Name
                            input(name="who", type="text")
                        .form-section
                            label(for='coming') Coming?
                            input(name="coming", type="radio", value="No")
                            input(name="coming", type="radio", value="Yes")
                        .form-section
                            label(for='message') Message
                            textarea(name="message")
                        .form-section
                            .error-message.email-errors &nbsp;
                            label(for='email') Email
                            input(name="email", type="text")
                        .form-section
                            a.submit-rsvp(href="#") Submit
                