doctype html

html
    head
        title Cam and Jojo's Wedding
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', type='text/css', href='#{path.toStylesheet()}')
        script(src='#{path.toJavascript()}', async)

    body

        #menu
            .menu-toggle
                i.icon.bars
                span.menu-text Menu

            .slideout-menu

                ul.slideout-menu-items
                    li(data-menuanchor="welcome-section")
                        a(href="#welcome-section")
                            i.icon.star
                            | Welcome
                    li(data-menuanchor="aboutus-section")
                        a(href="#aboutus-section")
                            i.icon.heart
                            | Our Story
                    li(data-menuanchor="agenda-section")
                        a(href="#agenda-section")
                            i.icon.calendar
                            | Schedule
                    li(data-menuanchor="getting-there-section")
                        a(href="#getting-there-section")
                            i.icon.car
                            | Getting there
                    li(data-menuanchor="accommodation-section")
                        a(href="#accommodation-section")
                            i.icon.home
                            | Accommodation
                    li(data-menuanchor="kids-section")
                        a(href="#kids-section")
                            i.icon.child
                            | Kids
                    li(data-menuanchor="gifts-section")
                        a(href="#gifts-section")
                            i.icon.gift
                            | Gifts

        #fullpage
            .section#section-welcome
                h1 Résserve cette date
                .card
                    .top-left-heart
                        i.icon.heart
                    .top-right-heart
                        i.icon.heart
                    .bottom-left-heart
                        i.icon.heart
                    .bottom-right-heart
                        i.icon.heart
                    .supporting-text
                        | Le mariage de Cam et Jojo
                    .supporting-text Chateau de Cazenac, Dordogne France
                    .wedding-date 28th May 2016
                    .where-at
                        a(href="http://www.cazenac.fr/uk/reception.htm", target="_new") http://www.cazenac.fr
                        a(href="https://www.google.com.au/maps/place/Ch%C3%A2teau+Cazenac,+24220+Coux-et-Bigaroque,+France", target="_new") (map)

            .section#section-aboutus
                .section-content.aboutus
                    h1.section-header
                        i.icon.heart
                        | Our Story
                    .text-content
                        p Cam and JoJo met at ThoughtWorks in Bangalore, India in 2006; Cam from the Sydney Office and JoJo from London.
                        p After spending two months exploring India and getting to know one another, they decided (after Cam consulting his mum!) to give long-distance a go. The next six months were a blur of early morning skyping sessions, texting, emailing and surprise snail mail.
                        p They had no idea when they would next be able to see each other, and shortly after JoJo booked a (non-refundable) flight to visit Cam in Sept, TW offered her a three month assignment in Aus starting in Oct! She jumped at the chance, and packed up her life to set off on a new adventure.
                        p Three months turned into three and a half years, and the pair decided to return to the UK to work from the London office for a couple of years. Here they met more lovely, life-long friends, explored Europe’s pubs and realised that their poor livers would never be the same again.
                        p All too soon the London Assignment was over and they moved back to Manly to live close to the beach. In April 2013, Cammy got down on one knee and proposed to JoJo in a photobooth, which he had lovingly hand-decorated.
                        p
                            |She said
                            b yes
                            |. ;)

            .section#section-agenda
                .section-content.agenda
                    h1.section-header
                        i.icon.calendar
                        | Schedule

                    .supportive-text
                        | This is our current plan (in case you need to start making travel arrangements). We will confirm all the details on the official invite :)

                    .days
                        .day
                            .day-name Thu 26th
                            .day-activity hen / stag
                        .day
                            .day-name Fri 27th
                            .day-activity free day
                        .day
                            .day-name Sat 28th
                            .day-activity wedding
                        .day
                            .day-name Sun 29th
                            .day-activity bbq


            .section#section-getting-there
                .section-content.getting-there
                    h1.section-header
                        i.icon.car
                        | Getting there

                    .supportive-text
                        h4 Fly - drive
                        | The most common travel option is to fly and then hire a car. Having a car is a very good idea – there is so much to see and do and it gives you the freedom to move around the local area.
                        | The airports that can be used for this venue are
                        | Bordeaux
                        a(href="https://www.google.com.au/maps/dir/Bordeaux-Mérignac+Airport,+33700+Mérignac,+France/Château+Cazenac,+24220+Coux-et-Bigaroque,+France") (~2hr 15min drive)
                        |, Bergerac
                        a(href="https://www.google.com.au/maps/dir/Bergerac+Dordogne+Périgord+Airport,+Route+d'Agen,+24100+Bergerac,+France/Château+Cazenac,+24220+Coux-et-Bigaroque,+France") (~1hr drive)
                        |, Toulouse
                        a(href="https://www.google.com.au/maps/dir/Toulouse-Blagnac+Airport,+31703+Blagnac,+France/Château+Cazenac,+24220+Coux-et-Bigaroque,+France") (~2hr 20min drive)
                        |, Brive
                        a(href="https://www.google.com.au/maps/dir/Brive–Souillac+Airport,+19600+Nespouls,+France/Château+Cazenac,+24220+Coux-et-Bigaroque,+France") (~1hr 20min drive)
                        |  and Limoges
                        a(href="https://www.google.com.au/maps/dir/Limoges-Bellegarde+Airport,+81+Avenue+de+l'Aéroport,+87100+Limoges,+France/Château+Cazenac,+24220+Coux-et-Bigaroque,+France") (~2hr 10min drive)
                        |. Bordeaux is the only international airport in this group. Please take into account when booking that May / June is a very popular time to visit south of France.

                        h4 Ferry - drive
                        | If you're getting the ferry from England and are planning to drive, expect it to take
                        a(href="https://www.google.com.au/maps/dir/Calais,+France/Château+Cazenac,+24220+Coux-et-Bigaroque,+France") 8 - 9 hours
                        |  from Calais to the Chateau. It may take a little less time if you drive from ports further south such as Caen or Le Harve.

                        h4 Rail - drive
                        | There is a high speed link from Paris to Angouleme (~2.5 - 3 hrs). From Angouleme you will have a
                        a(href="https://www.google.com.au/maps/dir/Angoulême,+France/Château+Cazenac,+Coux-et-Bigaroque,+France") ~2hr 15min drive
                        |. The high speed link also goes from Paris to Bordeaux (~3 - 4 hrs). From there it is a
                        a(href="https://www.google.com.au/maps/dir/Bordeaux,+France/Château+Cazenac,+Coux-et-Bigaroque,+France") ~2hr 15min drive
                        |  to the chateau. Tickets for the TGV can be purchased on their
                        a(href="http://en.voyages-sncf.com/en/train-ticket") website
                        |. Note that often tickets are only released three months prior to the travel date. On the website you can sign up to be notified when tickets are available to purchase.


            .section#section-accommodation
                .section-content.accommodation
                    h1.section-header
                        i.icon.home
                        | Accommodation

                    ul.accommodation-options
                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Auberge+Médiévale+Le+Bourg+24260+Audrix&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Auberge Medieval
                            .contact
                                a(href="http://www.auberge-medievale.fr" target="_new") www.auberge-medievale.fr

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=L'escale%20A%20c%C3%B4t%C3%A9%20du%20Pont%20de%20Siorac%2C%20Le%20Port%2024170%2C%20SIORAC%20EN%20PERIGORD&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name L'Escale
                            .contact
                                a(href="http://www.lescale-siorac.com" target="_new") www.lescale-siorac.com

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Manoir+De+Bellerive+Hotel,+24480+Le+Buisson-de-Cadouin,+France&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Manoir de Bellerive
                            .contact
                                a(href="http://www.bellerivehotel.com" target="_new") www.bellerivehotel.com

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=MANOIR%20DE%20BRUNIE&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Manoir de Brunie
                            .contact
                                a(href="http://www.manoirdelabrunie.com" target="_new") www.manoirdelabrunie.com

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Le%20Relais%20du%20Perigord%20Noir&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Le Relais du Perigord Noir
                            .contact
                                a(href="http://www.relais-perigord-noir.fr" target="_new") www.relais-perigord-noir.fr

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Logis+Auberge+De+La+Petite+Reine,+Siorac-en-Périgord,+France&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Logis Auberge De La Petite Reine
                            .contact
                                a(href="http://www.petite-reine.com" target="_new") www.petite-reine.com


                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=LE%20CHAMBELLAN%20Place%20de%20l'%C3%A9glise%2024220%20Le%20Coux%20et%20Bigaroque&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Le Chambellan
                            .contact
                                a(href="http://www.hotel-chambellan.fr" target="_new") www.hotel-chambellan.fr

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Le+Petit+Chaperon+Rouge,+Coux-et-Bigaroque,+France&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Le Petit Chaperon
                            .contact
                                a(href="http://www.chaperonrouge.fr/" target="_new") www.chaperonrouge.fr

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Auberge+de+la+Nauze,+Sagelat,+France&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Auberge de la Nauze
                            .contact
                                a(href="http://www.aubergedelanauze.fr/" target="_new") www.aubergedelanauze.fr

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Le%20Tr%C3%A8fle%20%C3%80%20Quatre%20Feuilles%20Le%20Bourg%2C%2024170%20Siorac-en-Perigord%2C%20France&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Le Trefle a Quatre Feuilles
                            .contact
                                a(href="http://www.tripadvisor.com.au/Hotel_Review-g1068887-d589016-Reviews-Le_Trefle_A_Quatre_Feuilles-Siorac_en_Perigord_Dordogne_Aquitaine.html" target="_new") trip advisor

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Ferme+de+Lagrave,+Coux-et-Bigaroque,+France&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Ferme de Lagrave
                            .contact
                                a(href="http://www.fermedelagrave.com/" target="_new") www.fermedelagrave.com

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=La+P'tite+Poule+Rouge,+Coux-et-Bigaroque,+France&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name La P'tite Poule Rouge
                            .contact
                                a(href="http://laptitepoulerouge.fr/" target="_new") laptitepoulerouge.fr

                        li
                            .location
                                .map.dynamic-module(data-name="google-map", data-url="https://www.google.com/maps/embed/v1/directions?mode=driving&origin=Les+Tyssanderies,+Coux-et-Bigaroque,+France&destination=Ch%C3%A2teau%20de%20Cazenac%20France%2024220%20Le%20Coux%20et%20Bigaroque&key=AIzaSyAcJkimHh7FCIw8Br9es9G7VtZes-aoEQ8")
                            .name Les Tyssanderies
                            .contact
                                a(href="http://www.df-info.com/coux/tyssanderies/" target="_new") df-infoli

                        li
                            .location
                                .more
                                    i.icon.plus
                            .name Near Coux-et-Bigaroque
                            .contact
                                a(href="http://www.tripadvisor.com.au/Hotels-g1079332-Coux_et_Bigaroque_Dordogne_Aquitaine-Hotels.html" target="_new") trip advisor



            .section#section-kids
                .section-content.kids
                    h1.section-header
                        i.icon.child
                        | Kids
                    .text-content
                        p Many of our friends have beautiful children and we would love for them to join us for the Ceremony/ Drinks & Canapes. We hope to hold it outside (weather permitting) so there should be plenty of space for them to move and play.
                        p For the evening dinner celebrations we plan to hold an adult-only event. This is due to limited space, but also allows all guests an evening of relaxation, without having to worry about little eyes and ears. We hope that this advance notice means that you are still able to share our big day with us.
                        p Our wedding planner has organised many childfree receptions, working with a properly vetted nanny agency called SillyBillies. They are an English speaking agency, whose staff have all been Police checked and ID verified.
                        p We understand that some guests may feel uncomfortable about leaving their little one, so we totally understand that this may not work for you.
                        p Please let us know if plan on bringing the littles and would like to make use of this service so we can give you all the relevant details. We can also pass on owner’s details so that you can talk to her directly to set your mind at ease.

            .section#section-gifts
                .section-content.gifts
                    h1.section-header
                        i.icon.gift
                        | Gifts
                    .text-content
                        p We know that flights and accommodation can become very expensive and we are so grateful that you are willing to travel to be with us on our special day. We truly believe that your presence at our celebration is a beautiful gift for us to treasure and so, no others are needed, Thank You.
                        p For those who insist on giving something- Please send or email us a photograph, once you get home, of yourselves enjoying France in all it’s wonderful cheese and wine glory, so that we have a beautiful memento of our special people. :)


        .dynamic-module(data-name="track-page-view", data-tracking-id='#{config.googleAnalyticsApiKey()}')
