doctype html

html
    head
        title Cam and Jojo's Wedding
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', type='text/css', href='#{path.toStylesheet()}')
        script(src='#{path.toJavascript()}', async)

    body

        ul#menu
            li(data-menuanchor="first-page")
                a(href="#first-page") First section
            li(data-menuanchor="rsvp-section")
                a(href="#rsvp-section") Rsvp
        
        #fullpage
            .section
                img.save-the-date(src="http://res.cloudinary.com/df4mulofv/image/upload/w_1000/c_crop,x_0,y_416,w_1000,h_1100/cam-n-jojo-save-the-date_cft5ct.jpg")
            .section
                .rsvp
                    h1 Rsvp
                    form.rsvp-form.dynamic-module(data-name="submit-rsvp")
                        .form-section
                            label(for='who') Name
                            input(name="who", type="text")
                        .form-section
                            label(for='we-are-coming') Coming?
                            input(name="we-are-coming", type="radio", value="No")
                            input(name="we-are-coming", type="radio", value="Yes")
                        .form-section
                            label(for='message') Message
                            textarea(name="message")
                        .form-section
                            a.submit-rsvp(href="#") Submit
                