doctype html

html
    head
        title Cam and Jojo's Wedding
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', type='text/css', href='#{path.toStylesheet()}')
        script(src='#{path.toJavascript()}', async)

    body
        ul#menu
            li(data-menuanchor="welcome-section")
                a.ui.blue.inverted.button(href="#welcome-section")
                    i.icon.star
                    | Welcome
            li(data-menuanchor="rsvp-section")
                a.ui.blue.inverted.button(href="#rsvp-section")
                    i.icon.envelope
                    | RSVP
            li(data-menuanchor="agenda-section")
                a.ui.blue.inverted.button(href="#agenda-section")
                    i.icon.calendar
                    | Agenda
            li(data-menuanchor="kids-section")
                a.ui.blue.inverted.button(href="#kids-section")
                    i.icon.child
                    | Kids
            li(data-menuanchor="gifts-section")
                a.ui.blue.inverted.button(href="#gifts-section")
                    i.icon.gift
                    | Gifts
        
        #footer
    
        #fullpage
            .section#section-welcome
                h1 Résserve cette date
                .card
                    .top-left-heart
                        i.icon.heart
                    .top-right-heart
                        i.icon.heart    
                    .bottom-left-heart
                        i.icon.heart
                    .bottom-right-heart
                        i.icon.heart
                    .supporting-text
                        | Le mariage de Cam et Jojo
                    .supporting-text Chateau de Cazenac, Dordogne France
                    .wedding-date 28th May 2016

            .section#section-rsvp
                .rsvp.dynamic-module(data-name="submit-rsvp", data-base-url="#{config.url()}")
                    h4.ui.dividing.header
                        i.icon.envelope(style="padding-top: 0; font-size: 1em;")
                        .content RSVP
                    
                    .ui.info.icon.message.coming-message
                        i.smile.outline.icon
                        .content
                            .header Thank you
                            p Hurruh! We're so glad you can be with us on the day. Thanks for letting us know.
    
                    .ui.info.icon.message.not-coming-message
                        i.frown.icon
                        .content
                            .header Thank you
                            p We're sorry you can't come! Thanks for letting us know.
    
                    form.ui.form.rsvp-form
                        
                        .required.field
                            label Name
                            .ui.icon.input
                                input(name="who", type="text")
                                i.user.icon
                        .required.field
                            label Email
                            p All correspondence will go via this email, including your wedding invitation.
                            .ui.icon.input
                                input(name="email", type="text")
                                i.at.icon
                        .grouped.required.fields.foobar
                            label(for="alone") Are you coming?
                            .field
                                .ui.radio.checkbox.checked
                                    input(id="yes-coming-input" name="coming", checked="", type="radio", value="Yes")
                                    label.yes-coming Yes
                            .field
                                .ui.radio.checkbox
                                    input(id="no-coming-input", name="coming", type="radio", value="No")
                                    label.no-coming  No
                        .field
                            label Message
                            textarea(name="message")
                        
                        .ui.error.message.error-messages
    
                        .ui.submit.button.submit-rsvp Save
    
            .section#section-agenda
                .agenda
                    h2
                        i.icon.calendar
                        | Agenda
                    
                    .day
                        .day-name Thu 26th
                        .day-activity hen / stag
                    .day
                        .day-name Fri 27th
                        .day-activity relaxing
                    .day
                        .day-name Sat 28th
                        .day-activity wedding
                    .day
                        .day-name Sun 29th
                        .day-activity bbq
                            
            .section#section-kids
                .kids
                    h2
                        i.icon.child
                        | Kids
                    .kids-content
                        p Many of our friends have beautiful children, whom we would love to share our day with. Please feel free to bring the little ones along to the ceremony / drinks & canapés reception. We hope to hold it outside (weather permitting) so there should be plenty of space for them to move and play throughout the day.
                        p For the evening dinner celebrations we plan to hold an adult-only event. This is mostly due to limited space, but also allows all guests an evening of relaxation, without having to worry about little eyes and ears. We hope that this advance notice means that you are still able to share our big day with us and that you can enjoy the evening off parental duties.
                        p Our wedding planner has organised many childfree weddings, working with a properly vetted and tested nanny agency called SillyBillies. They are an English speaking agency who have been police checked and ID verified. We understand that some guests may feel uncomfortable about leaving their little one, so we totally understand that this may not work for you.
                        p We will be providing a baby sitting agency in the lounge room of the chateau, so please let us know if you wish to utilize this service (as the ratio of sitters to kids will be affected and we need to organize enough sitters ahead of time.)
                        p If you want to organize the sitter to come to your accommodation, you can also do that privately at a cost of 25euros booking fee per sitter, then 15euro per hour, per sitter. Min of 4 hours.  (ALL TBC)
                        p 
                            |You can visit the agency’s website 
                            a(href="http://www.sillybillyschildcare.com/", target="_new") here 
                            |, or you can get in touch with the owner of the agency directly to discuss your requirements. Her name is Nicci Brown and her email address is 
                            a(href="mailto:sillybillynicci@aol.com") sillybillynicci@aol.com
                            |.
                        
            .section#section-gifts
                .gifts
                    h2
                        i.icon.gift
                        | Gifts
                    .gifts-content
                        p We know that flights and accommodation can become very expensive and we are so grateful that you are willing to travel to be with us on our special day. We truly believe that your presence at our celebration is a beautiful gift for us to treasure and so, no others are needed, Thank You.
                        p For those who insist on giving something- Please send or email us a photograph, once you get home, of yourselves enjoying France in all it’s beautiful cheese and wine glory, so that we have a beautiful memento of our special tribe. :)

