doctype html

html
    head
        title Cam and Jojo's Wedding
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', type='text/css', href='#{path.toStylesheet()}')
        script(src='#{path.toJavascript()}', async)

    body
        ul#menu
            li(data-menuanchor="welcome-section")
                a.ui.blue.basic.button(href="#welcome-section")
                    | Welcome
            li(data-menuanchor="rsvp-section")
                a.ui.blue.basic.button(href="#rsvp-section")
                    i.icon.envelope
                    | RSVP
    
        #fullpage
            .section#section-welcome
                img.save-the-date(src="http://res.cloudinary.com/df4mulofv/image/upload/w_1000/c_crop,x_0,y_416,w_1000,h_1100/cam-n-jojo-save-the-date_cft5ct.jpg")
            
            .section
                .rsvp.dynamic-module(data-name="submit-rsvp", data-base-url="#{config.url()}")
                    h4.ui.dividing.header
                        i.icon.envelope(style="padding-top: 0; font-size: 1em;")
                        .content RSVP
                    
                    .ui.info.icon.message.coming-message
                        i.smile.outline.icon
                        .content
                            .header Thank you
                            p Hurruh! We're so glad you can be with us on the day. Thanks for letting us know.
    
                    .ui.info.icon.message.not-coming-message
                        i.frown.icon
                        .content
                            .header Thank you
                            p We're sorry you can't come! Thanks for letting us know.
    
                    form.ui.form.rsvp-form
                        
                        .required.field
                            label Name
                            .ui.icon.input
                                input(name="who", type="text")
                                i.user.icon
                        .required.field
                            label Email
                            p All correspondence will go via this email, including your wedding invitation.
                            .ui.icon.input
                                input(name="email", type="text")
                                i.at.icon
                        .grouped.required.fields.foobar
                            label(for="alone") Are you coming?
                            .field
                                .ui.radio.checkbox.checked
                                    input(id="yes-coming-input" name="coming", checked="", type="radio", value="Yes")
                                    label.yes-coming Yes
                            .field
                                .ui.radio.checkbox
                                    input(id="no-coming-input", name="coming", type="radio", value="No")
                                    label.no-coming  No
                        .field
                            label Message
                            textarea(name="message")
                        
                        .ui.error.message.error-messages
    
                        .ui.submit.button.submit-rsvp Save


            .section
                | Another section of just text!

