#menu
  
  .menu-toggle
    font-size 1.3rem
    position fixed
    top 5rem
    left 0
    padding 0.7rem
    background-color death2
    border-bottom-right-radius 4px
    border-top-right-radius 4px
    z-index 10
    color glowing-eiffel-tower
  
  .slideout-menu
    position fixed
    top 0
    left -250px
    width 250px
    height 100%
    background #333
    z-index 100
    
    h3
      position relative
      padding 12px 10px
      color #fff
      font-size 1.2em
      font-weight 400
      border-bottom 4px solid #222
    
    .slideout-menu-toggle
      position absolute
      top 12px
      right 10px
      display inline-block
      padding 6px 9px 5px
      font-family Arial, sans-serif
      font-weight bold
      line-height 1
      background #222
      color #999
      text-decoration none
      vertical-align top
      
      &:hover
        color #fff
        
    ul.slideout-menu-items
      padding 0
      list-style none
      font-weight 300
      border-top 1px solid #151515
      border-bottom 1px solid #454545
      
      li
        border-top 1px solid #454545
        border-bottom 1px solid #151515
        
        a
          position relative
          display block
          padding 10px
          color #999
          text-decoration none
          
          &:hover
            background #000
            color #fff
          i
            position absolute
            top 15px
            right 10px
            opacity .5
  
